<!-- The Modal -->
<div class="modal" id="aa<%=element.gid%>">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Hỏi lại cho chắc</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Bạn thật sự muốn xóa thông tin này???????????
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
        <a href="/admin/students/detele/<%=element.gid%>"><button type="button" class="btn btn-success">Đúng rồi!</button></a>
      </div>

    </div>
  </div>
</div>